# LLM APIConfiguration (supports any OpenAI SDK format LLM API）
# It is recommended to use Alibaba Bailian platformqwen-plusModel：https://bailian.console.aliyun.com/
# Note that it consumes a lot of money. You can try a simulation with less than 40 rounds first.
LLM_API_KEY=your_api_key_here
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL_NAME=qwen-plus

# ===== ZEPMemory map configuration =====
# Free monthly quota can support simple use：https://app.getzep.com/
ZEP_API_KEY=your_zep_api_key_here

# ===== Accelerate LLM configuration (optional）=====
# Note that if acceleration configuration is not used, the following configuration items should not appear in the env file.
LLM_BOOST_API_KEY=your_api_key_here
LLM_BOOST_BASE_URL=your_base_url_here
LLM_BOOST_MODEL_NAME=your_model_name_here